body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(236, 229, 229);
  margin: 0;
  padding: 0;
}

.tabela-periodica {
  display: grid;
  grid-template-columns: repeat(20, 55px);
  gap: 10px;
  padding: 20px;
  margin-left: 25px;
  position: relative;
  z-index: 0;
  overflow: visible;
}

.elemento {
  width: 40px;
  height: 35px;
  padding: 7px;
  color: black;
  font-size: 11.5px;
  cursor: pointer;
  background-color: #888;
  text-align: center;
  position: relative;
  border-radius: 5px;
  z-index: 1;
  user-select: none;
}

.numero-atomico {
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 9, 9);
}

.simbolo {
  display: inline-block;
  margin-top: 12px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  background: #f5f5f5;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: opacity 0.2s ease-in-out;
  font-size: 12px;
  pointer-events: none;
  z-index: 10;
  padding: 10px;
  margin-top: -350px;
}

.tooltip-titulo {
  background: #e9f3f3;
  color: #000000;
  padding: 6px 10px;
  font-weight: bold;
  border-radius: 6px 6px 0 0;
}

.tooltip-box {
  display: flex;
  background: #fff;
  padding: 10px;
  border-radius: 0 0 6px 6px;
}

.tooltip-info-esq {
  width: 80px;
  text-align: center;
  background: #2c9aa3;
  color: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 13px;
}

.simbolo-big {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}

.tooltip-info-dir {
  flex: 1;
  padding-left: 10px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.elemento:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
